[config]
ROADMAP_HACKMD_URL = 'https://hackmd.io/...'

#YT_DLP_EXTRA_ARGS = '--cookies-from-browser chrome'
#YT_DLP_EXTRA_ARGS = '--cookies-from-browser firefox'
# from yt-dlp help:
#
# --cookies FILE                  Netscape formatted file to read cookies from
#                                  and dump cookie jar in
#  --no-cookies                    Do not read/dump cookies from/to file
#                                  (default)
#  --cookies-from-browser BROWSER[+KEYRING][:PROFILE][::CONTAINER]
#                                  The name of the browser to load cookies
#                                  from. Currently supported browsers are:
#                                  brave, chrome, chromium, edge, firefox,
#                                  opera, safari, vivaldi, whale. Optionally,
#                                  the KEYRING used for decrypting Chromium
#                                  cookies on Linux, the name/path of the
#                                  PROFILE to load cookies from, and the
#                                  CONTAINER name (if Firefox) ("none" for no
#                                  container) can be given with their
#                                  respective separators. By default, all
#                                  containers of the most recently accessed
#                                  profile are used. Currently supported
#                                  keyrings are: basictext, gnomekeyring,
#                                  kwallet, kwallet5, kwallet6
#  --no-cookies-from-browser       Do not load cookies from browser (default)

#GCP_PROJECT_ID = 'google_project_id'
#GCP_SERVICE_ACCOUNT = '{PROJECT_DIR}/credentials/accousnt_service_key.json'
#GCP_BUCKET_NAME = 'cablewatch-bucket'
