html
  body
    section:nth-of-type(n+10)
      span.sectnum
        display: none

      h1
        font-size: 18pt

    .small-font
      .highlight
        font-size: 6pt

    img.overview
      position: relative

    img.architecture
      position: relative
      left: -80px
      width: 125%

    img.text
      vertical-align: middle
      width: 8%

    img.ingest
      position: absolute
      top: -70px
      left: 380px
      width: 50%
      z-index: -1

    img.ingest-obj-diagram
      position: relative
      width: 65%
      left: 100px

    img.banners
      position: absolute
      top: -75px
      left: 450px
      width: 40%
      z-index: -1

    img.franceinfo
      width: 100%

    img.speech
      position: absolute
      top: -75px
      left: 450px
      width: 40%
      z-index: -1

    img.architecture-speech
      position: relative
      left: -60px
      width: 120%

    img.papers
      position: absolute
      top: -75px
      left: 450px
      width: 40%
      z-index: -1

    img.papers-generation
      position: relative
      left: -60px
      top: 100px
      width: 120%

    img.scheduler
      position: absolute
      top: -75px
      left: 450px
      width: 40%
      z-index: -1

    img.http
      position: absolute
      top: -75px
      left: 500px
      width: 35%
      z-index: -1
