html
  body
    img.architecture
      position: absolute
      left: 300px
      transform: scaleX(1.5)

    img.ingest
      position: absolute
      left: 1314px
      top: 0

    img.ingest-obj-diagram
      position: absolute
      left: 1070px
      top: 0

    img.banners
      position: absolute
      left: 1374px
      top: 0

    img.franceinfo-frame
      position: absolute
      left: 570px
      top: 260px

    img.speech
      position: absolute
      left: 1334px
      top: 0

    img.architecture-speech
      position: absolute
      top: 320px
      left: 300px
      transform: scale(1.3)

    img.papers
      position: absolute
      top: 0
      left: 1338px

    img.papers-generation
      position: absolute
      transform: scaleX(1.5)
      top: 200px
      left: 350px

    table.scheduler-table
      p
        font-size: 14pt
